/*Информация "О нас"*/
.about {
  margin-top: 151px;
  height: 552px;
}

.about__gates {  
  display: block;
  background-image: url(../Air-asia/about/gates.jpg);  
  width: 490px;
  height: 505px;
  border-radius: 7px;
}

.about__mountains {
  display: block;
  position: absolute;
  top: 97px;
  left: 354px;  
  background-image: url(../Air-asia/about/mountains.jpg);
  width: 785px;
  height: 455px;
  border-radius: 7px;
  padding: 81px 68px;
}

/*Линия*/
.line {
  margin-top: 53px;
}

.line__border {
  width: 1142px;
  height: 4px;
  background: #FFFFFF;
  opacity: 0.1;
}