/*Информация "О нас"*/
.about__info-pic {  
  margin-top: 151px;
  width: 490px;
  height: 505px;
}

.about__bkg-img {
  background-image: url(../Air-asia/about/gates.jpg);
  min-width: 100%;
  min-height: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

.about__desk-bkg {
  display: block;
  position: absolute;
  width: 785px;
  height: 455px;
  top: 97px;
  left: 354px;
}

.about__desk__bkg-img {
  background-image: url(../Air-asia/about/mountains.jpg);
  background-repeat: no-repeat;  
  border-radius: 7px;
  min-width: 100%;
  min-height: 100%;
}

.about__desk__info-padding {
  padding: 68px 68px;
}

/* Главная страница */
.about__name-heading {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 37px;
}

.about__text-info {
  width: 502px;
  line-height: 27px;
  color: #060606;
  margin-bottom: 43px;
}