.breadcrumbs__nav-indent {
  margin-bottom: 24px;
}

.breadcrumbs__list-content {
  display: flex;
}


.breadcrumbs__link-name {  
  font-size: 14px;
  color: #9A9A9A;
  text-decoration: underline;
}

.breadcrumbs__link-name--unactive {
  font-size: 14px;    
  color: #9A9A9A;
  font-weight: 700;
  text-decoration: underline;  
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
}

.breadcrumbs__item-slash:after {
  content: "/";
  color: #9A9A9A;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item-slash:last-child:after {
  display: none;
}