.breadcrumbs {
  margin: 103px 0 35px 0;
}

.breadcrumbs-item, .breadcrumbs-link {
  display: inline-block;
  vertical-align: middle;
  color: #9A9A9A;
}

.breadcrumbs-item {
  font-size: 14px;
}

.breadcrumbs-link {
  text-decoration: underline;
}

.breadcrumbs-link--unactive {
  text-decoration: underline;
  font-weight: 700;
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
}

.breadcrumbs-item:after {
  content: " / ";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs-item:last-child:after {
  display: none;
}