/*Горящие туры*/
.burning {
  margin-bottom: 127px;
}

.burning__fire-tour--list {
  display: flex;
  flex-wrap: wrap;
}

.burning__page {
  display: flex;
  align-items: baseline;
}

.burning__text {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}

/*Горящие Туры*/
.burning__fire-tour {
  flex: 1;
  background-color: #FFFFFF;
  color: #000000;
  margin-right: 27px;
  border-radius: 5px;
}

.burning__offer {
  padding: 0;
  margin: 0;
}

.burning__fire-tour:last-child {
  margin-right: 0px;
}


.burning__tours-icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.burning__tours-content {
  padding: 33px 16px 26px 22px;
}

.burning__tours-title {
  font-weight: 700;
  margin-bottom: 21px;
}

.burning__tours-desc {
  margin-bottom: 23px;
}

.burning__tours-list {
  padding: 0;
}

.burning__tours-item {
  display: inline-block;
  margin-right: 28px;
}

.burning__tours-item:last-child {
  margin-right: 0px;
}


.calendar-icon,
.meal-icon {
  vertical-align: middle;
}

.period,
.breakfast {
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  margin-left: 10px;
}

.burning__tours-text p {
  font-size: 14px;
  color: #303030;
  line-height: 21px;
  margin-bottom: 24.5px;
}

.btn--little {
  width: 135px;
}