.wrapper__content-services {
  max-width: 100%;
  min-height: 100%;
  background-image: url(../Air-asia/background/headline.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
.content__services {
  margin-top: 55px;
}

.content__services-cap {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

}

.breadcrumbs__services {
  padding-top: 103px;  
  padding-bottom: 35px;
}

.breadcrumbs__services-item, .breadcrumbs__services-link {
  display: inline-block;
  vertical-align: middle;
  color: #9A9A9A;
}

.breadcrumbs__services-item {
  font-size: 14px;
}

.breadcrumbs__services-link {
  text-decoration: underline;
}

.breadcrumbs__services-link--unactive {
  text-decoration: underline;
  font-weight: 700;
}

.breadcrumbs__services-list {
  padding: 0;
  margin: 0;
}

.breadcrumbs__services-item:after {
  content: " / ";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__services-item:last-child:after {
  display: none;
}