.fire__tour-block {
  display: flex;
  flex-wrap: wrap;
}

/*Горящие Туры*/
.fire__tour__wall-info {
  max-width: 362px;
  min-height: 449px;
  margin-right: 26px;
}

.fire__tour__wall-info:last-child {
  margin-right: 0;
}

.fire__tour__desk-content {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
}

.fire__tour:last-child {
  margin-right: 0px;
}

.fire__tour__icon__desk {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.fire__tour__content-info {
  padding: 33px 16px 26px 22px;
}

.fire__tour__content__title-name {
  font-weight: 700;
  margin-bottom: 21px;
}

.fire__tour__info-desk {
  margin-bottom: 23px;
}

.fire__tour__info__list-position {
  display: flex;
}

.fire__tour__info__item-services {
  margin-right: 28px;
}

.fire__tour__info__item-services:last-child {
  margin-right: 0px;
}

.fire__tour__info__period-text,
.fire__tour__info__breakfast-text {
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  margin-left: 10px;
}

.fire__tour__information-text p {
  font-size: 14px;
  color: #303030;
  line-height: 21px;
  margin-bottom: 24.5px;
}
