.header {
  margin: 12px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

/*Лого*/
.logo {
  display: flex;
  flex: 1;
  vertical-align: middle;
}

.logo {
  width: 98px;
  height: 42px;
}

.logo__png {
  display: block;
  max-width: 100%;
}