/*Основной контент*/
.page {
  margin-top: 120px;
}

.page__tour { 
  width: 511px;
}

.page__tour-title { 
  font-size: 72px;
  line-height: 98px;
  margin: 0;
  font-weight: 700;
}

.page__tour-slogan {
  font-size: 18px;
  line-height: 20px;
  margin: 27.5px 0 33.5px 0;
}