/*Пагинатор*/
.pagination {
  text-align: center;
  margin-top: 55px;
}

.container__pagination {
  display: flex;
}

.pagination__display {
  padding-right: 36px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
  vertical-align: middle;
}

.pagination__controlls {
  flex: 1;
}

.pagination__pages-list {
  display: flex;
  padding: 0;
}

.pagination__pages-item {
  width: 32px;
  height: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.pagination__pages-item:first-child {
  margin-right: 11.5px;
}

.pagination__pages-link--active {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #F5170E;
}

.pagination__pages-link:hover {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #F5170E;
  margin-left: -11.5px;
}

/**Пагинация на стр. с Услугами**/
.pagination__display--red {
  color: #000000;
}

.pagination__pages-link--red {
  color: #000000;
}

.pagination__pages-link--active--red {
  background-color: #F5170E;
  color: #FFFFFF;
}

.pagination__pages-link--red:hover,
.pagination__pages-link--active--red:hover {
  background-color: #F5170E;
  color: #FFFFFF;
}