/*Пагинатор*/
.pagination {
  text-align: center;
  margin-top: 55px;
}

.container__pagination {
  display: flex;
}

.pagination__display {
  padding-right: 36px;
  display: flex;
  flex: 1;  
  align-items: center;
  justify-content: right;
  vertical-align: middle;
}

.pagination__controlls {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.pagination__pages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

.pagination__pages-item {
  font-weight: 700;
  display: flex;
  margin-right: 24px;
}

.pagination__pages-item:first-child {
  margin-right: 11.5px;
}

.pagination__pages-item:last-child {
  margin-right: 0;
}

.pagination__pages-link--active {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #F5170E;
}

.pagination__pages-link:hover {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #F5170E;
}

/**Пагинация на стр. с Услугами**/
.pagination__display-services {
  color: #000000;
}

.pagination__pages-link--services {
  color: #000000;
}

.pagination__pages-link--services--active {
  width: 32px;
  height: 32px;
  background-color: #F5170E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
}

.pagination__pages-link--services:hover
.pagination__pages-link--services--active:hover {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: #F5170E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFFFFF;
}