.reviews__list {
  margin-top: 98px;
  background: #f2f2f2;
}

.reviews__block-form {  
  display: inline-block;
  width: 47%;
  margin-right: 27px;
  margin-bottom: 17px;
  vertical-align: top;
}

.reviews__block-form:nth-child(2) {
  margin-right: 0px;
}

.reviews__block-form:nth-child(3) {
  margin-top: -135px;
  margin-bottom: 0;
}

.reviews__block-form:nth-child(4) {
  margin: 0px;

}

.reviews__window-content {
  border-radius: 5px;
  background: #F4F5F5;
  padding: 50px 28px 28px 32px;
}

.reviews__tourist-data {
  display: flex;
  margin-bottom: 27px;
  align-items: center;
}

.reviews__tourist__logo-size {
  width: 142px;
  height: 142px;
  margin-right: 22px;
}

.reviews__tourist__img-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tourist__info-heading {
  display: flex;
  margin-bottom: 3px;
}

.tourist__name__info {
  margin-right: 7px;
  color: #1A1B1E;
  font-size: 24px;
  font-weight: 700;
}

.tourist__name__info-active {
  color: #2E77A4;  
  margin-right: 7px;
  text-decoration: underline;  
  font-size: 24px;
  font-weight: 700;
}

.tourist__social {
  width: 30px;
  height: 30px;
}

.tourist__service__oval-modifier {
  background: #B9EAE4;
  border-radius: 35px;
  color: #303030;
  padding: 10px 20px;
  font-size: 14px;
  width: max-content;
}

.reviews__desc__text__heading-size {
  text-align: left;
}

/* Страница с отзывами */
.desc__name-reviews {
  font-size: 30px;
  color: #1A1B1E;
  font-weight: 700;
}

.desc__text-reviews {
  color: #818181;
  margin-top: 13px;
  margin-bottom: 48px;
}

.desc__data-size {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
}