.maincontent__services {
  background-color: #F2F2F2;
}
.services__list__content {
  margin-top: 98px;
  margin-bottom: 90px;
}

.services__item-price {
  display: flex;
  margin-bottom: 49px;
  align-items: center;
  text-align: left;
}

.services__logo-desk {
  margin-right: 56px;
}

.services__avatar-img {
  overflow: hidden;
  border-radius: 5px;
  min-width: 460px;
}

.services__img-elem {
  display: block;
  max-width: 100%;
}