.social {
  flex: 2;
}

.social__list {
  display: flex;
}

.social__item {
  display: flex;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  border-radius: 50%;
  transition: 0.3s;
  width: 36px;
  height: 36px;
}

.social__link:hover {
  background-color: #868686;
}