.stock__desk-info {
  display: flex;
}

.stock__tour-info {
  width: 557px;
  height: 394px;
  margin-right: 25px;
}

.stock__tour-info:last-child {
  margin-right: 0;
}

.stock__icon { 
  width: 100%;
  height: 100%;
  border-radius: 5px;  
  cursor: pointer;
}

.stock__icon__plain {  
  background-image: url(../Air-asia/news/plain.jpg);
}
.stock__icon__surfer {
  background-image: url(../Air-asia/news/surfer.jpg);
}

.stock__desk__info-content {
  padding-top: 252px;
  padding-left: 30px;
}

.stock__name__desk-season {
  font-size: 14px;
  padding-bottom: 12px;
}

.stock__name__desk__info {
  padding-bottom: 3px;
  font-size: 24px;
  line-height: 36px;
}